body {
    background-image: url(https://mik.kh.ua/wp-content/uploads/22-38.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;                            
    border: 3px solid crimson;
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Arima', cursive;
    
}


img {
    width: 150px;
    border: 3px solid crimson;
    border-radius: 20px;
}

h2 {
    color: darkslategray;
}
b {
    color: crimson;
    font-weight: bold;
}
.main {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}



.links{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 200px;
    color: rgb(185, 115, 35);
    transform: scale(1.3);
    transition: 2s;
    box-shadow: 0px 0px 25px 15px rgb(80, 80, 15);

}


.links:hover{
    transform: scale(1.3);
    transition: 2s;
    box-shadow: 0px 0px 25px 15px rgb(22, 80, 39); 
    background-color: rgb(36, 70, 44);
    transition: none;
}

a{
    background-color: beige;
    color: aqua;
    font-weight: bold;

}

a:hover{
    color: aqua ;
}